@import url('https://fonts.googleapis.com/css?family=Philosopher:400,700,700i&display=swap');


*{
    box-sizing: border-box;
    }

body {
    font-family: "Philosopher",  sans-serif, 'Courier New', Courier, monospace;
    margin: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

    .backround {
     background-color: rgba(248,248,255, 05);
      
    }

    .row {
      flex-grow: 1;
    }
/* ================================= 
  Base Layout Styles
==================================== */

ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    }




a {
    text-decoration: none;
    color: black;
    }

  


  h2 {
    text-align: center;
  }

  .main-nav a:hover {
      color: #093a58;
    }

  .main-header {
      background: rgba(192,192,192, 0.6);
    }
    

    .main-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: auto;
    }
    .main-nav li {
        margin: 0.05rem auto;
        font-size: 1.4rem;
        padding: 0.4rem;
        
    }

    .meniu {
      width: 50%;
      height: 50%;
      margin: auto;
      
    }

    .col {
      border: 0.09rem solid black;
      border-radius: 0.3rem;
      padding: 0.6rem;
      margin: 0.3rem;
    }

    .pic {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

    }

    .pic-1,
    .pic-2,
    .pic-3 {
      display: flex;
      flex-grow:1;
      flex-wrap: wrap;
      flex-grow: 1;
      max-width:100%;
    }
    .main-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.6);
      padding: 1.6rem;
    }

    .main-text {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    }
    

  }
