@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');

*{
    box-sizing: border-box;
    }

body {
    font-family: "Philosopher", 'Courier New', Courier, monospace;
    margin: 0;
    line-height: 1.6;
    }
/* ================================= 
  Base Layout Styles
==================================== */

ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    }

a {
    text-decoration: none;
    color: black;
    }

  .main-nav a:hover {
      color: #093a58;
    }

  .main-header {
      display: flex;
      background: rgba(0,0,0,0.6);
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: auto;
    }
    .main-nav li {
        margin: auto;
        font-size: 1.9rem;
        
    }
  }